.container {
  max-width: calc(100vw - 2rem);
  margin: 1.5rem auto;
  width: 100%;
  height: 100%;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: dense;
  grid-gap: 0.5rem;
}

@media (min-width: 43rem) {
  .container {
    max-width: calc(100vw - 8rem);
    margin: 2.5rem auto;
  }

  .grid_container {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3rem;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 57vw;
  }
}

@media (min-width: 82rem) {
  .container {
    max-width: 43vw;
  }
}
