.loader {
  min-width: 100vw;
  min-height: 3px;
  max-height: 3px;
  margin: 0 auto;
  padding: 0;
  z-index: 15;
  position: fixed !important;
  top: 0;
  left: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.loader_range {
  animation-duration: 1000ms;
  animation-name: loader;
  max-height: 3px;
  min-height: 3px;
  background-color: #fc8484;
  z-index: 20;
  width: 0%;
}

@keyframes loader {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
